body {
  height: 100%;
  width: 100%;
  background: rgb(248, 246, 245);
}

html {
  height: 100%;
  width: 100%;
  background-color: brown;
}

.some-page-wrapper {
  margin: 600px;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.row {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  flex-wrap: nowrap;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex-wrap: nowrap;
}

.orange-column{
  align-self: flex-start;
}

.description-area{
  align-self: flex-end;
  margin: 8px;
}

.image {
  object-fit: cover;
  max-width: 100%;
  flex-wrap: nowrap;
  max-height: 100%; /* set to 'auto' in IE11 to avoid distortions */
  flex-basis: auto;
  align-self : center;
}

.link-area{
  align-self: center;
  margin: 8px;
}

.box1 {
  margin: 8px;
  flex-grow: 8;
  text-align: end;
  align-content: center;
}

.like-image{
  max-height: 2%;
  max-width: 4%;
  margin: 1px;
  display: block;
}

.reaction-counter{
  margin: 8px;
  flex-grow: 1;
  text-align: end;
  text-align: start;
}

.operation-button{
  flex-grow: 1;
  max-height: 2%;
  max-width: 4%;
  align-content: center;
  margin: 4px;
}

.description{
  flex-grow: 4;
  align-self: center;
}

